/* Reset margins, padding, and prevent scrollbars */
/* stylelint-disable-next-line selector-list-comma-newline-after */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

/* Header triggers styling */
#js-triggers {
  list-style: none;
  margin: 0;
  padding: 20px;
  background-color: #333;
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 2;
  justify-content: flex-end;
}

#js-triggers li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: right;
}

/* navigation menu common settings */
#menu {
  display: none;
  background-color: #f9c919;
  color: #fff;
  transition: all 500ms ease;
  z-index: 1;
}

#menu > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* Drop-down menu style (for widths >736px) */
#menu.drop-down {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
  opacity: 0;
  padding: 20px;
  border-radius: 5px;
}

#menu.drop-down.active {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

/* Side tray style (for widths <=736px) */
#menu.side-tray {
  position: fixed;
  top: 60px;
  left: -250px;
  width: 250px;
  /* height: 100%; */
  overflow-y: auto;
  padding: 20px;
  opacity: 1;
  transition: left 500ms ease;
}

#menu.side-tray.active {
  left: 0;
}

/* Moday styles */
#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity 500ms ease;
  z-index: 3; /* Overlays all other elements*/
}

#modal.active {
  opacity: 1;
}

.modal-content-pane {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  min-width: 300px;
  min-height: 200px;
}

/* Main content style */
#body-content {
  padding: 20px;
  margin-top: 0; /* Making sure content does not overlap header */
}

#header-tag {
  text-align: center;
  color: rgb(209, 15, 141);
}

.paragraph-title {
  color: rgb(108, 108, 247);
}
